@import url("//fonts.googleapis.com/css?family=Oswald|Cabin:400");
@import url("//fonts.googleapis.com/css?family=Gentium Book Basic|Cabin:400");
@import url("//fonts.googleapis.com/css?family=Lato|Cabin:400");

/*
:root {
  --color-logo: #0e4473;
  --color-button: #337ab7;
  --color-footer: #1f3641;
  --color-kpi: #466c8c;
  --color-social: #466c8c;
}
*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gentium Book Basic", serif;
  font-size: 16px;
}

h1,
h3 {
  font-family: "Oswald", sans-serif;
}

h2 {
  margin: 0;
}

h4 {
  font-weight: bold;
}

ul {
  margin-top: 10px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

a,
a:-webkit-any-link {
  text-decoration: none;
}

#title {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 10px 0 10px 0;
}

#logo {
  height: 60px;
}

#warning {
  background-color: #ffe6e6;
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  color: #990000;
  margin-bottom: 20px;
  padding: 20px;
}

#warning a {
  color: #990000 !important;
}

#text-identity {
  color: white;
  font-weight: 700;
  font-size: 14px;
  font-family: "Lato";
  margin: auto 5px;
  text-transform: uppercase;
  display: inline-block;
}

button#toggleSidebar {
  margin: 0;
  border: none;
  color: white;
  background-color: #0e4473;
}

button#toggleSidebar:hover {
  color: #1f3641;
  background-color: lightgrey;
}

#data-table {
  display: none;
}

#social {
  margin: 5px;
  text-decoration: none;
  color: #466c8c;
}

#social:hover {
  color: #aaa;
}

.info {
  font-size: 10px !important;
}

.container-title {
  display: flex;
  background-color: #0e4473;
  margin-bottom: 20px;
  /*border-bottom: 1px solid #466c8c;*/
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.row {
  flex: 1 0 auto;
  margin: 10px auto 20px auto;
  width: 100%;
  max-width: 1280px;
}

.well {
  font-size: 14px;
}

.kpis {
  display: flex;
  flex-direction: column;
}

.kpi {
  width: 90%;
  margin: 10px auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: white;
  background: #466c8c;
  text-align: center;
}

.highcharts-container,
.leaflet-container {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.btn,
.btn-default {
  margin: 5px 5px;
  color: white;
  border-color: #2e6da4;
  background-color: #337ab7;
}

.btn:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active:focus,
.btn-default:active:hover {
  outline: 0;
  color: lightgrey;
  border-color: #204d74;
  background-color: #286090;
}

.tab-name {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.popover-title {
  font-size: 18px;
}

.footer {
  flex-shrink: 0;
  color: white;
  padding: 30px;
  font-family: "Lato";
  text-align: center;
  background-color: #1f3641;
}

@media (min-width: 768px) {
  #text-identity {
    font-size: 16px;
  }

  #data-table {
    display: block;
  }

  .kpis {
    flex-direction: row;
    margin-bottom: 10px;
  }

  .kpi {
    width: 32%;
  }
}
